.button-icon{
    background: var(--white);
    border: 2px solid var(--purple);
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

.button-icon img {
    vertical-align: middle;
}