.header {
    backdrop-filter: blur(10px);
    position: sticky;
    top:0;
}
.header-content {
    align-items: center;
    block-size: 80px;
    display: flex;
    justify-content: space-between;
    
}