
.project{
    padding-block-end: 40px;
    padding-block-start: 40px;
}

.project-description{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-image img{
    max-inline-size: 100%;  
}

@media screen and (min-width: 768px){
    .project{
        align-items: center;
        display: flex;
        gap: 32px;
        padding-block-end: 80px;
        padding-block-start: 80px;
    } 
    .project-description{
        flex: 1;
    }
    .project:nth-child(odd) .project-image{
        flex: 1;
        order: 2;
        text-align: center;
    }  
}
